@tailwind base;
@tailwind components;
@tailwind utilities;

* {box-sizing:border-box}
[disabled] {pointer-events:none;opacity:0.3}

body {
  font-family: 'Roboto Mono', monospace; 
  padding: 2em;
  max-width: 800px;
  line-height: 1.5;
  color: #444;
}

section {
  margin: 48px 0;
  background: #F9F9F9;
  padding: 1em;
}

h1 {
  margin-bottom: 0;
}

.settings {
  font-size: 12px;
  padding: 8px;
}

button {
  display: block;
  border: 1px solid #444;
  background: transparent;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  transition: letter-spacing 0.2s linear;
  cursor: pointer;
  width: 100px;
  height: 40px;
  vertical-align: middle;
}
button:hover {
  letter-spacing: 3px;
  background: aquamarine;
}
input {
  font-family: inherit;
  font-size: inherit;
  background: white;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 8px;
  width: 100px;
}
.accent {
  background: aquamarine;
}
